<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/index.css">
        <title>Color Game</title>
    </head>

    <body>
        <div id="bigd">
            <h1>The RGB Color Game</h1>
            <p id="rgb"></p>
        </div>

        <div id="nav">
            <div class="container">
                <button class="btn" id="new">New Game</button>
                <span id="message"></span>
                <button class="btn" id="easy">Easy</button>
                <button class="btn selected" id="hard">Hard</button>
            </div>
        </div>

        <div class="container">
            <div class="squares"></div>
            <div class="squares"></div>
            <div class="squares"></div>
            <div class="squares"></div>
            <div class="squares"></div>
            <div class="squares"></div>
        </div>

        <script src="../color.js"></script>
    </body>
</html>